.home {
    height: 87vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.intro {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 40%;
    min-height: 300px;
    width: 85%;
    padding-bottom: 2rem;
    padding-top: 1rem;
}

.title > h2 {
    font-weight: 500;
}

.quote {
    display: flex;
    height: 50px;
    width: 50%;
    margin-top: -1rem;
    text-align: center;
}

.quote > p {
    align-content: flex-end;
}

.sections {
    display: flex;
    justify-content: space-evenly;
}

.left-section {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.left-section > p {
    font-size: 16px;
}

.right-section {
    display: flex;
    align-items: flex-end;
}

.pink-square {
    background-color: #F5D4C3;
    height: 267px;
    width: 200px;
    margin-bottom: -1rem;
    margin-left: -11rem;
}

.title {
    display: flex;
    flex-direction: column;
    width: 80%;
}

#titleBar {
    background-color: #E09689;
    width: 60%;
    border: 2px solid #E09689;
    align-self: flex-end;
    margin-top: -0.75rem;
}

#contactBtn {
    background-color: #F5D4C3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    align-self: center;
    border: none;
    padding: 0.5rem 1rem;
}

#contactBtn:hover {
    box-shadow: none;
    cursor: pointer;
}

.boxes {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.navBoxes {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F5D4C3;
    height: 180px;
    width: 275px;
    justify-content: space-evenly;
    box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.25);
    position: relative;
    bottom: 90%;
}

.navBoxes > h2 {
    font-weight: 500;
}


#work:hover, #books:hover, #contact:hover {
    background-color: #E09689;
    cursor: pointer;
    box-shadow: none;
}

.icons {
    display: flex;
    width: 40%;
    justify-content: space-between;
}

@media screen and (max-width: 850px) {
    .boxes {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        width: 100%;
        align-items: center;
    }
    .navBoxes {
        margin-bottom: 2.5rem;
    }
}

@media screen and (max-width: 750px) {
    .sections {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .intro {
        height: inherit;
        text-align: center;
    }
    #titleBar {
        margin-top: -0.75rem;
        align-self: center;
    }
    #contactBtn {
        margin-bottom: 2rem;
    }

    .left-section {
        align-items: center;
    }

    .title {
        display: flex;
        flex-direction: column;
        width: 80%;
    }
    
}

@media screen and (max-height: 850px) {
    .navBoxes {
        position: static;
        margin-bottom: 2rem;
    }
}