.workSamples {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.workIntro {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #d7f0e8;
    width: 80%;
}

.workIntro > p {
    width: 60%;
    text-align: center;
}

.workIntro > h1 {
    font-weight: 100;
    font-size: 30px;
}

.workArrow {
    margin-top: 1rem;
    margin-bottom: -2rem;
}

.workArrow:hover {
    cursor: pointer;
}

.classes {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.class {
    display: flex;
    flex-direction: column;
    width: 80vw;
    margin-bottom: 2rem;
}

.workSample {
    display: flex;
    justify-content: space-evenly;
  }

  .workSample > h4 {
    width: 25%;
    font-weight: 500;
  }

  .workSample > p {
    width: 50%;
  }
  

.view {
    background-color: #3C5657;
    border: none;
    font-weight: 500;
    font-size: 16px;
    width: 60px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    text-align: center;
    color: #fff;
    padding:  0.5rem 0.5rem;
    justify-self: flex-start;
}

.view:hover {
    cursor: pointer;
    box-shadow: none;
}

.download {
    background-color: #3C5657;
    border-radius: 5px;
    padding: 0.5rem 0.5rem;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    height: 20px;
    display: flex;
    align-items: center;
}

.download:hover {
    box-shadow: none;
    cursor: pointer;
}

.workBtns {
    display: flex;
    width: 150px;
    justify-content: space-between;
}

.class > h3 {
    font-weight: 500;
    font-size: 25px;
}

.powerpoint, .trainingWork {
    align-self: flex-end;
}

.workSample {
    align-items: center;
}

.view {
    height: 20px;
}

.workSample > p {
    max-width: 40%;
}

.trainingTitle, .powerpointTitle {
    background-color: #E09689;
    width: 30%;
    min-width: 300px;
    border: 2px solid #E09689;
    align-self: flex-end;
    margin-top: -0.75rem;
    margin-right: 5rem;
}

.elearningTitle, .referenceTitle {
    background-color: #E09689;
    width: 30%;
    min-width: 300px;
    border: 2px solid #E09689;
    align-self: flex-start;
    margin-top: -0.75rem;
    margin-left: 4rem;
}

.workBack {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    align-items: center;
}

.workBack > p {
    background-color: #F5D4C3;
    border: 20px solid #fff;
    width: 18%;
    min-width: 200px;
    text-align: center;
    padding: 1rem 2rem;
    font-size: 25px;
    position: relative;
    bottom: 55px;
    z-index: -1;
}

.workLeftArrow:hover {
    cursor: pointer;
}


@media screen and (max-width: 580px) {
    .trainingTitle, .powerpointTitle, .elearningTitle, .referenceTitle {
        align-self: center;
        margin-right: 0;
        margin-left: 0;
    }
    .powerpoint, .trainingWork, .elearning, .referencesAndGuides {
        align-self: center;
        text-align: center;
    }

}